# things generated

/sonnets_input_data/audio
/sonnets_input_data/text/md.md
/iliad_pope_page_without_audio/cuts

## timings of words in audio
/sonnets_input_data/joined.json

## dev-env
/tauri_app/src-tauri/resource
/tauri_app/src-tauri/gen
